.slides{
    width: calc(500px*3);
    animation: glisse 10s infinite;
}
.slide{
    float: left;
}
img{
    height: 300px;
    width: 500px;
}
.slider{
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
}
@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
.menu-collapse .u-nav-link svg {
    min-width: 1em;
    width: auto;
    height: 1em;
    vertical-align: top;
}